<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <div class="container sub-container" style="margin-top: 80px;">
            <div class="box edit-sub">
                <% if (subscribers.length > 0) { %>
                    <h3>Edit Subscriber Below</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Limit</th>
                            <th>Action</th>
                        </tr>
                        <% for (let sub of subscribers) { %>
                            <tr>
                                <td><%= sub.name %></td>
                                <td><%= sub.email %></td>
                                <td><%= sub.tempLimit%> °F</td>
                                <td>
                                    <a href="/subscriber/edit" 
                                    onclick="fetch('http://localhost:3000/subscriber/delete/<%= sub._id %>', 
                                    { method: 'DELETE'})
                                    .then(res => res.json())
                                    .then(data => console.log(data))
                                    .catch(err => alert(err))">Delete</a>
                                    |
                                    <a href="/subscriber/edit/<%= sub._id %>">Update</a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                <% } else { %>
                    <h4>No subscribers.</h4>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>